<template>
    <div>
        <h1>Create Post</h1>
        <form @submit.prevent="createPost">
            <input v-model="title" placeholder="Title" required />
            <input v-model="keywords" placeholder="Keywords" required />
            <textarea v-model="body" placeholder="Body" required></textarea>
            <button type="submit">Create</button>
        </form>
        <div v-if="error">{{ error }}</div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            title: '',
            keywords: '',
            body: '',
            error: ''
        };
    },
    methods: {
        createPost() {
            axios.post('http://localhost:34000/api/posts', {
                title: this.title,
                keywords: this.keywords,
                body: this.body
            }).then(() => {
                // Handle success (e.g., redirect to the post list)
            }).catch(error => {
                this.error = 'All fields are required';
            });
        }
    }
};
</script>
