<template>
    <div>
        <h1>Edit Post</h1>
        <form @submit.prevent="editPost">
            <input v-model="title" placeholder="Title" required />
            <input v-model="keywords" placeholder="Keywords" required />
            <textarea v-model="body" placeholder="Body" required></textarea>
            <button type="submit">Save</button>
        </form>
        <div v-if="error">{{ error }}</div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            post: null,
            title: '',
            keywords: '',
            body: '',
            error: ''
        };
    },
    mounted() {
        this.fetchPost();
    },
    methods: {
        fetchPost() {
            axios.get(`http://localhost:34000/api/posts/${this.$route.params.id}`).then(response => {
                this.post = response.data;
                this.title = this.post.title;
                this.keywords = this.post.keywords;
                this.body = this.post.body;
            });
        },
        editPost() {
            axios.put(`http://localhost:34000/api/posts/${this.$route.params.id}`, {
                title: this.title,
                keywords: this.keywords,
                body: this.body
            }).then(() => {
                // Handle success (e.g., redirect to the post list)
            }).catch(error => {
                this.error = 'All fields are required';
            });
        }
    }
};
</script>
