<template>
    <div>
        <h1>Posts</h1>
        <ul>
            <li v-for="post in posts" :key="post.id">
                {{ post.title }} - {{ post.body }}
                <button @click="editPost(post.id)">Edit</button>
                <button @click="deletePost(post.id)">Delete</button>
            </li>
        </ul>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            posts: []
        };
    },
    mounted() {
        this.fetchPosts();
    },
    methods: {
        fetchPosts() {
            axios.get('http://localhost:34000/api/posts').then(response => {
                this.posts = response.data;
            });
        },
        editPost(id) {
            // Navigate to edit page
        },
        deletePost(id) {
            axios.delete(`http://localhost:34000/api/posts/${id}`).then(() => {
                this.fetchPosts();
            });
        }
    }
};
</script>
